APP_PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/hethonglaysotandkv1

JWT_SECRET=your_jwt_secret_here
API_KEY=your_api_key_here

JWT_EXPIRE=7d
JWT_EXPIRES_IN=24h
BCRYPT_SALT_ROUNDS=10
TTS_ENABLED=true
TTS_PYTHON_BIN=python3
TTS_TIMEOUT_MS=5000
TTS_RATE=160
TTS_VOLUME=0.9
TTS_VOICE_KEYWORDS=vietnam,tieng viet,vi-vn,vietnamese
